<nav class="navbar navbar-expand-lg navbar-dark sticky-top" style="background-color: #171717;">
    <div class="container">
        <a class="navbar-brand" href="/admin/home">
            HackShoee
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav text-uppercase">
                <li class="nav-item">
                    <a class="nav-link" href="/admin/products">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/products/outofstock">Out Of Stock</a>
                </li>
            </ul>
        </div>
    </div>
</nav>